@model Microsoft.Web.Graph.WebRole.ViewModels.GettingStarted.Partials.PickPlatformPartialViewModel
<script>
        window.platformData = @Html.Raw(Json.Encode(Model.Platforms));
</script>
<div class="card" id="setup" name="3. Pick platform" isblocking="true">
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>
    <div id="pickPlatform">
        <div class="tabs">
            @{
                foreach (var platform in Model.Platforms)
                {
                    <button id="@platform.Id" class="col-xs-12 col-sm-4 platformOptionBlock">
                        <img src="@platform.Icon" alt="@platform.Alt" /><br />
                        <span>@platform.Name</span>
                    </button>
                }
            }
        </div>
        <div style="clear:both;"></div>
    </div>

    <div id="pickPlatformDisableDiv" hidden class="yellowNote">
        <p><strong>Note: </strong> You can not change the platform once an app has been registered. To change the platform, please <a onclick="window.location.href = window.location.href.split('?')[0];">click here</a> to start over.</p>
    </div>
</div>

<div class="card-question" id="SetupPlatform" style="display:none">
    <div id="ShowDocumentationDiv">
    </div>
</div>

<div class="card" id="register-app" name="4. Setup & Register" isblocking="true">
    <div class="ms-Grid-row">
        <div id="app-reg-title"></div>      
        <div id="app-reg-desc"class="ms-Grid-col ms-u-sm12"></div>
    </div>
    <div id="app-reg-notes" class="yellowNote"></div>
    <div class="col-sm-2" style="padding:0">
        <button class="button responsive-btn" value="let's go'" id="go-reg-app">
            @Model.LetsGo&nbsp;&nbsp;
            <span class="icon_seemore"></span>
        </button>
    </div>
</div>