@model Microsoft.Web.Graph.WebRole.ViewModels.GettingStarted.Partials.TryOutPartialViewModel
    <script>
        window.tryoutSampleData = @Html.Raw(Json.Encode(Model.DataModels));
        window.tryoutTableHeader = "@Html.Raw(string.Format("<thead><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td></thead>",
                                 Model.Header.Name, Model.Header.Type, Model.Header.Value, Model.Header.Notes))"
    </script>
<div class="card" id="try-it-out" name="2. Try it out">
    <div class=""><h1>@Model.Title</h1></div>
    <p>@Model.Description</p>
    <hr />
    <!-- Service Container-->
    <div id="serviceOptions" class="services-container"></div>
    <hr />
    <div id="challengeBox">
        <div id="sampleURL" class="restCall">
            <span class="httpVerb">GET</span>     <span id="urlValue"></span>
        </div>
    </div>
    <div id="parameterDetails">
    </div>
    <div id="tryError" class="ms-font-color-error ms-font-l"></div>
   
    <button type="button" class="try-button" value="Try" id="invokeurlBtn">
        @Model.TryLabel&nbsp;&nbsp
        <span class="icon_seemore"></span>
    </button>
    <div id="response-container" hidden>
        <div>           
            <p>
                <strong>@Model.RespondBody</strong>
                <i id="CopyCodeLink" style="cursor:pointer" class="fa fa-files-o hidden"></i>
            </p>

        </div>
        <div id="" class="lang-js json">
            <pre class="prettyprint lang-js json code-container">
            <code id="responseBody" class="prettyprint lang-js json"></code>
            </pre>
        </div>
    </div>
</div><!--card-->
